#userListPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    #userList {
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        margin: 10px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .user {
            display: flex;
            flex-direction: column;
            align-items: center;

            box-shadow: rgba(41, 8, 227, 0.24) 0px 3px 8px;
            border-radius: 10px;
            margin: 10px;
            padding: 15px;
            width: 300px;
        }
    }
    mat-icon {
        transform: scale(1.3);
    }
}
